In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

In [2]:
# Census API Key
from config import api_key
c = Census(api_key, year=2013)

# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data_2013 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B25064_001E", "B02001_001E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd_2013 = pd.DataFrame(census_data_2013)

# Column Reordering
census_pd_2013 = census_pd_2013.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B25064_001E": "Median Gross Rents",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd_2013["Poverty Rate"] = 100 * \
    census_pd_2013["Poverty Count"].astype(
        int) / census_pd_2013["Population"].astype(int)

# Final DataFrame
census_pd_2013 = census_pd_2013[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate","Median Gross Rents"]]

# Visualize
census_pd_2013["Year"] = "2013"
print(len(census_pd_2013))
census_pd_2013.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Median Gross Rents,Year
0,08518,5217.0,41.5,74286.0,33963.0,170.0,3.258578,1095.0,2013
1,08520,27468.0,37.4,90293.0,37175.0,1834.0,6.676860,1148.0,2013
2,08525,4782.0,47.1,118656.0,59848.0,43.0,0.899205,1563.0,2013
3,08527,54867.0,42.2,88588.0,37021.0,2191.0,3.993293,1415.0,2013
4,08528,245.0,48.5,58676.0,49117.0,0.0,0.000000,-666666666.0,2013

In [3]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd_2013.to_csv("census_data_2013.csv", encoding="utf-8", index=False)

In [4]:
# data for 2014
from config import api_key
c = Census(api_key, year=2014)

In [5]:
census_data_2014 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B25064_001E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd_2014 = pd.DataFrame(census_data_2014)

# Column Reordering
census_pd_2014 = census_pd_2014.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B25064_001E": "Median Gross Rents",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd_2014["Poverty Rate"] = 100 * \
    census_pd_2014["Poverty Count"].astype(
        int) / census_pd_2014["Population"].astype(int)

# Final DataFrame
census_pd_2014 = census_pd_2014[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate","Median Gross Rents"]]
census_pd_2014["Year"] = "2014"
print(len(census_pd_2014))
census_pd_2014.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Median Gross Rents,Year
0,00601,18088.0,37.1,10833.0,7229.0,10911.0,60.321760,367.0,2014
1,00602,40859.0,39.0,16353.0,9048.0,21724.0,53.168213,411.0,2014
2,00603,53162.0,39.2,16323.0,9888.0,26027.0,48.957902,369.0,2014
3,00606,6415.0,39.2,14138.0,6385.0,3778.0,58.893219,326.0,2014
4,00610,28805.0,39.7,17265.0,8197.0,14149.0,49.119944,419.0,2014

In [6]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd_2014.to_csv("census_data_2014.csv", encoding="utf-8", index=False)

In [7]:
# data for 2015
from config import api_key
c = Census(api_key, year=2015)

In [8]:
census_data_2015 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B25064_001E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd_2015 = pd.DataFrame(census_data_2015)

# Column Reordering
census_pd_2015 = census_pd_2015.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B25064_001E": "Median Gross Rents",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd_2015["Poverty Rate"] = 100 * \
    census_pd_2015["Poverty Count"].astype(
        int) / census_pd_2015["Population"].astype(int)

# Final DataFrame
census_pd_2015 = census_pd_2015[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate","Median Gross Rents"]]

census_pd_2015["Year"] = "2015"
print(len(census_pd_2015))
census_pd_2015.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Median Gross Rents,Year
0,12810,724.0,46.5,57500.0,25551.0,78.0,10.773481,675.0,2015
1,12811,67.0,45.9,-666666666.0,11590.0,0.0,0.000000,-666666666.0,2015
2,12812,58.0,64.1,49583.0,23600.0,0.0,0.000000,-666666666.0,2015
3,12814,1282.0,46.4,58176.0,35508.0,51.0,3.978159,920.0,2015
4,12815,1103.0,54.2,60458.0,30685.0,159.0,14.415231,698.0,2015

In [9]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd_2015.to_csv("census_data_2015.csv", encoding="utf-8", index=False)

In [10]:
# data for 2016
from config import api_key
c = Census(api_key, year=2016)

In [11]:
census_data_2016 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B25064_001E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd_2016 = pd.DataFrame(census_data_2016)

# Column Reordering
census_pd_2016 = census_pd_2016.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B25064_001E": "Median Gross Rents",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd_2016["Poverty Rate"] = 100 * \
    census_pd_2016["Poverty Count"].astype(
        int) / census_pd_2016["Population"].astype(int)

# Final DataFrame
census_pd_2016 = census_pd_2016[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate","Median Gross Rents"]]
census_pd_2016["Year"] = "2016"
print(len(census_pd_2016))
census_pd_2016.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Median Gross Rents,Year
0,01001,17423.0,45.0,56714.0,30430.0,1462.0,8.391207,975.0,2016
1,01002,29970.0,23.2,48923.0,26072.0,8351.0,27.864531,1206.0,2016
2,01003,11296.0,19.9,2499.0,3829.0,54.0,0.478045,1150.0,2016
3,01005,5228.0,44.1,70568.0,32169.0,230.0,4.399388,926.0,2016
4,01007,14888.0,42.5,80502.0,36359.0,1410.0,9.470715,921.0,2016

In [12]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd_2016.to_csv("census_data_2016.csv", encoding="utf-8", index=False)

In [13]:
# data for 2017
from config import api_key
c = Census(api_key, year=2017)

In [14]:
census_data_2017 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B25064_001E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd_2017 = pd.DataFrame(census_data_2017)

# Column Reordering
census_pd_2017 = census_pd_2017.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B25064_001E": "Median Gross Rents",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd_2017["Poverty Rate"] = 100 * \
    census_pd_2017["Poverty Count"].astype(
        int) / census_pd_2017["Population"].astype(int)

# Final DataFrame
census_pd_2017 = census_pd_2017[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate","Median Gross Rents"]]
census_pd_2017["Year"] = "2017"
print(len(census_pd_2017))
census_pd_2017.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Median Gross Rents,Year
0,00601,17599.0,38.9,11757.0,7041.0,11282.0,64.105915,373.0,2017
1,00602,39209.0,40.9,16190.0,8978.0,20428.0,52.100283,380.0,2017
2,00603,50135.0,40.4,16645.0,10897.0,25176.0,50.216416,400.0,2017
3,00606,6304.0,42.8,13387.0,5960.0,4092.0,64.911168,284.0,2017
4,00610,27590.0,41.4,18741.0,9266.0,12553.0,45.498369,415.0,2017

In [15]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd_2017.to_csv("census_data_2017.csv", encoding="utf-8", index=False)

In [16]:
# Merge the data into result
DataFrames = [census_pd_2013, census_pd_2014, census_pd_2014, census_pd_2015, census_pd_2016, census_pd_2017]

result = pd.concat(DataFrames)
result.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Median Gross Rents,Year
0,08518,5217.0,41.5,74286.0,33963.0,170.0,3.258578,1095.0,2013
1,08520,27468.0,37.4,90293.0,37175.0,1834.0,6.676860,1148.0,2013
2,08525,4782.0,47.1,118656.0,59848.0,43.0,0.899205,1563.0,2013
3,08527,54867.0,42.2,88588.0,37021.0,2191.0,3.993293,1415.0,2013
4,08528,245.0,48.5,58676.0,49117.0,0.0,0.000000,-666666666.0,2013

In [17]:
result.tail()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Median Gross Rents,Year
33115,99923,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,NaN,-666666666.0,2017
33116,99925,901.0,45.1,48646.0,24783.0,210.0,23.307436,620.0,2017
33117,99926,1684.0,32.8,57969.0,22927.0,224.0,13.301663,656.0,2017
33118,99927,59.0,49.8,17981.0,11959.0,49.0,83.050847,-666666666.0,2017
33119,99929,2455.0,49.0,55742.0,29861.0,276.0,11.242363,793.0,2017

In [18]:
result["Rent Affordability"] = (result["Median Gross Rents"]/(result["Household Income"]/12)*100)

In [19]:
result.dropna()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Median Gross Rents,Year,Rent Affordability
0,08518,5217.0,41.5,74286.0,33963.0,170.0,3.258578,1095.0,2013,1.768839e+01
1,08520,27468.0,37.4,90293.0,37175.0,1834.0,6.676860,1148.0,2013,1.525700e+01
2,08525,4782.0,47.1,118656.0,59848.0,43.0,0.899205,1563.0,2013,1.580704e+01
3,08527,54867.0,42.2,88588.0,37021.0,2191.0,3.993293,1415.0,2013,1.916738e+01
4,08528,245.0,48.5,58676.0,49117.0,0.0,0.000000,-666666666.0,2013,-1.363419e+07
5,08530,7568.0,43.8,87396.0,46371.0,249.0,3.290169,1264.0,2013,1.735549e+01
6,08533,6789.0,41.0,85301.0,30981.0,459.0,6.760937,1051.0,2013,1.478529e+01
7,08534,13312.0,44.1,144250.0,66609.0,339.0,2.546575,1091.0,2013,9.075910e+00
8,08535,5657.0,43.5,147853.0,59097.0,127.0,2.245006,-666666666.0,2013,-5.410780e+06
9,08536,19944.0,34.0,90089.0,46406.0,673.0,3.374448,1237.0,2013,1.647704e+01
10,08540,47316.0,37.5,125439.0,61810.0,1969.0,4.161383,1416.0,2013,1.354603e+01
11,08542,4756.0,26.3,71393.0,37662.0,351.0,7.380151,1738.0,2013,2.921295e+01
12,08550,19357.0,43.4,169661.0,70463.0,983.0,5.078266,1533.0,2013,1.084280e+01
13,08551,5212.0,43.4,121154.0,54299.0,147.0,2.820414,1620.0,2013,1.604569e+01
14,08553,543.0,51.6,90972.0,57618.0,20.0,3.683241,1169.0,2013,1.542013e+01
15,08554,4023.0,39.6,71750.0,30004.0,169.0,4.200845,900.0,2013,1.505226e+01
16,08555,812.0,40.3,78083.0,30321.0,70.0,8.620690,1463.0,2013,2.248377e+01
17,08558,6495.0,44.2,154236.0,68556.0,187.0,2.879138,1875.0,2013,1.458803e+01
18,08559,5226.0,48.4,108871.0,56242.0,93.0,1.779564,1505.0,2013,1.658844e+01
19,08560,3249.0,47.0,113333.0,59497.0,175.0,5.386273,-666666666.0,2013,-7.058844e+06
21,08562,5713.0,34.9,65036.0,26970.0,485.0,8.489410,925.0,2013,1.706747e+01
22,08608,921.0,37.6,14861.0,13521.0,321.0,34.853420,889.0,2013,7.178521e+01
23,08609,14884.0,33.0,27073.0,15337.0,5132.0,34.479979,958.0,2013,4.246297e+01
24,08610,29222.0,38.5,61016.0,28416.0,3005.0,10.283348,1070.0,2013,2.104366e+01
25,08611,26477.0,32.3,38672.0,16727.0,6253.0,23.616724,1109.0,2013,3.441249e+01
26,08618,38057.0,32.5,41757.0,21134.0,7953.0,20.897601,867.0,2013,2.491558e+01
27,08619,23175.0,42.3,72330.0,34252.0,1017.0,4.388350,1111.0,2013,1.843219e+01
28,08620,12638.0,43.2,88438.0,33407.0,359.0,2.840639,1057.0,2013,1.434225e+01
29,08628,9579.0,42.7,80449.0,39103.0,581.0,6.065351,1227.0,2013,1.830228e+01
30,08629,12450.0,32.6,54956.0,21054.0,1961.0,15.751004,1230.0,2013,2.685785e+01
...,...,...,...,...,...,...,...,...,...,...
33087,99783,159.0,25.5,31250.0,12675.0,65.0,40.880503,600.0,2017,2.304000e+01
33088,99784,173.0,30.3,38125.0,18612.0,53.0,30.635838,810.0,2017,2.549508e+01
33089,99785,421.0,22.0,33750.0,8425.0,246.0,58.432304,925.0,2017,3.288889e+01
33090,99786,299.0,26.9,44500.0,15937.0,83.0,27.759197,650.0,2017,1.752809e+01
33091,99788,119.0,34.4,28750.0,19081.0,41.0,34.453782,-666666666.0,2017,-2.782609e+07
33092,99789,395.0,25.4,82813.0,22481.0,36.0,9.113924,850.0,2017,1.231691e+01
33094,99791,172.0,24.5,61250.0,20597.0,33.0,19.186047,1063.0,2017,2.082612e+01
33095,99801,30179.0,38.2,91743.0,41968.0,2006.0,6.647006,1187.0,2017,1.552598e+01
33096,99820,540.0,42.7,36000.0,34954.0,113.0,20.925926,733.0,2017,2.443333e+01
33097,99824,2255.0,35.5,75577.0,41057.0,333.0,14.767184,1141.0,2017,1.811662e+01
33098,99825,89.0,58.5,88500.0,50983.0,0.0,0.000000,-666666666.0,2017,-9.039548e+06
33099,99826,386.0,53.3,61875.0,39582.0,14.0,3.626943,779.0,2017,1.510788e+01
33100,99827,2599.0,45.5,70091.0,35619.0,214.0,8.233936,1012.0,2017,1.732605e+01
33101,99829,828.0,46.1,60625.0,28857.0,98.0,11.835749,1005.0,2017,1.989278e+01
33102,99830,635.0,37.2,51250.0,18955.0,97.0,15.275591,938.0,2017,2.196293e+01
33103,99832,94.0,55.5,67917.0,33720.0,6.0,6.382979,-666666666.0,2017,-1.177908e+07
33104,99833,3275.0,41.7,63490.0,35044.0,256.0,7.816794,885.0,2017,1.672704e+01
33105,99835,8810.0,38.9,70765.0,36617.0,800.0,9.080590,1104.0,2017,1.872112e+01
33106,99836,60.0,40.7,66875.0,30355.0,0.0,0.000000,-666666666.0,2017,-1.196262e+07
33107,99840,1038.0,42.9,70673.0,39376.0,58.0,5.587669,1069.0,2017,1.815120e+01
33108,99841,147.0,61.3,59688.0,34670.0,3.0,2.040816,-666666666.0,2017,-1.340303e+07
33109,99901,13768.0,39.5,67321.0,33755.0,1450.0,10.531668,1139.0,2017,2.030273e+01
33111,99918,174.0,57.8,63125.0,34149.0,0.0,0.000000,-666666666.0,2017,-1.267327e+07
33112,99919,660.0,47.8,50956.0,31413.0,56.0,8.484848,843.0,2017,1.985242e+01
33113,99921,1971.0,41.1,58047.0,33002.0,286.0,14.510401,1015.0,2017,2.098300e+01
33114,99922,306.0,45.0,31250.0,16408.0,92.0,30.065359,350.0,2017,1.344000e+01
33116,99925,901.0,45.1,48646.0,24783.0,210.0,23.307436,620.0,2017,1.529417e+01
33117,99926,1684.0,32.8,57969.0,22927.0,224.0,13.301663,656.0,2017,1.357967e+01
33118,99927,59.0,49.8,17981.0,11959.0,49.0,83.050847,-666666666.0,2017,-4.449141e+07
33119,99929,2455.0,49.0,55742.0,29861.0,276.0,11.242363,793.0,2017,1.707151e+01

In [20]:
result = result[(~result.isnull()).all(axis=1)]

In [21]:
result["Rent Affordability"] = result["Rent Affordability"].astype('int64')

In [22]:
result["Poverty Rate"] = result["Poverty Rate"].astype('int64')

In [23]:
result.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Median Gross Rents,Year,Rent Affordability
0,08518,5217.0,41.5,74286.0,33963.0,170.0,3,1095.0,2013,17
1,08520,27468.0,37.4,90293.0,37175.0,1834.0,6,1148.0,2013,15
2,08525,4782.0,47.1,118656.0,59848.0,43.0,0,1563.0,2013,15
3,08527,54867.0,42.2,88588.0,37021.0,2191.0,3,1415.0,2013,19
4,08528,245.0,48.5,58676.0,49117.0,0.0,0,-666666666.0,2013,-13634194

In [24]:
result = result[(result["Rent Affordability"]>0)]

In [25]:
result = result[(result["Median Age"]>0)]

In [26]:
result = result[(result["Household Income"]>0)]

In [27]:
result = result[(result["Per Capita Income"]>0)]

In [28]:
result = result[(result["Poverty Count"]>0)]

In [29]:
result = result[(result["Poverty Rate"]>0)]

In [30]:
result = result[(result["Median Gross Rents"]>0)]

In [31]:
result

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Median Gross Rents,Year,Rent Affordability
0,08518,5217.0,41.5,74286.0,33963.0,170.0,3,1095.0,2013,17
1,08520,27468.0,37.4,90293.0,37175.0,1834.0,6,1148.0,2013,15
3,08527,54867.0,42.2,88588.0,37021.0,2191.0,3,1415.0,2013,19
5,08530,7568.0,43.8,87396.0,46371.0,249.0,3,1264.0,2013,17
6,08533,6789.0,41.0,85301.0,30981.0,459.0,6,1051.0,2013,14
7,08534,13312.0,44.1,144250.0,66609.0,339.0,2,1091.0,2013,9
9,08536,19944.0,34.0,90089.0,46406.0,673.0,3,1237.0,2013,16
10,08540,47316.0,37.5,125439.0,61810.0,1969.0,4,1416.0,2013,13
11,08542,4756.0,26.3,71393.0,37662.0,351.0,7,1738.0,2013,29
12,08550,19357.0,43.4,169661.0,70463.0,983.0,5,1533.0,2013,10
13,08551,5212.0,43.4,121154.0,54299.0,147.0,2,1620.0,2013,16
14,08553,543.0,51.6,90972.0,57618.0,20.0,3,1169.0,2013,15
15,08554,4023.0,39.6,71750.0,30004.0,169.0,4,900.0,2013,15
16,08555,812.0,40.3,78083.0,30321.0,70.0,8,1463.0,2013,22
17,08558,6495.0,44.2,154236.0,68556.0,187.0,2,1875.0,2013,14
18,08559,5226.0,48.4,108871.0,56242.0,93.0,1,1505.0,2013,16
21,08562,5713.0,34.9,65036.0,26970.0,485.0,8,925.0,2013,17
22,08608,921.0,37.6,14861.0,13521.0,321.0,34,889.0,2013,71
23,08609,14884.0,33.0,27073.0,15337.0,5132.0,34,958.0,2013,42
24,08610,29222.0,38.5,61016.0,28416.0,3005.0,10,1070.0,2013,21
25,08611,26477.0,32.3,38672.0,16727.0,6253.0,23,1109.0,2013,34
26,08618,38057.0,32.5,41757.0,21134.0,7953.0,20,867.0,2013,24
27,08619,23175.0,42.3,72330.0,34252.0,1017.0,4,1111.0,2013,18
28,08620,12638.0,43.2,88438.0,33407.0,359.0,2,1057.0,2013,14
29,08628,9579.0,42.7,80449.0,39103.0,581.0,6,1227.0,2013,18
30,08629,12450.0,32.6,54956.0,21054.0,1961.0,15,1230.0,2013,26
31,08638,23466.0,38.0,58371.0,24937.0,4280.0,18,1044.0,2013,21
32,08640,7381.0,35.1,68108.0,13835.0,232.0,3,1941.0,2013,34
33,08641,4134.0,22.7,49980.0,16262.0,184.0,4,1799.0,2013,43
34,08648,32300.0,37.2,86451.0,38044.0,1761.0,5,1395.0,2013,19
...,...,...,...,...,...,...,...,...,...,...
33078,99773,280.0,22.5,39688.0,11155.0,87.0,31,750.0,2017,22
33081,99776,128.0,43.0,21250.0,13873.0,34.0,26,538.0,2017,30
33082,99777,243.0,42.8,47778.0,22598.0,19.0,7,481.0,2017,12
33083,99778,227.0,23.7,33750.0,14829.0,69.0,30,513.0,2017,18
33084,99780,1617.0,40.3,57500.0,23895.0,413.0,25,892.0,2017,18
33085,99781,164.0,35.7,26250.0,13306.0,86.0,52,513.0,2017,23
33086,99782,513.0,28.0,71250.0,24788.0,69.0,13,900.0,2017,15
33087,99783,159.0,25.5,31250.0,12675.0,65.0,40,600.0,2017,23
33088,99784,173.0,30.3,38125.0,18612.0,53.0,30,810.0,2017,25
33089,99785,421.0,22.0,33750.0,8425.0,246.0,58,925.0,2017,32
33090,99786,299.0,26.9,44500.0,15937.0,83.0,27,650.0,2017,17
33092,99789,395.0,25.4,82813.0,22481.0,36.0,9,850.0,2017,12
33094,99791,172.0,24.5,61250.0,20597.0,33.0,19,1063.0,2017,20
33095,99801,30179.0,38.2,91743.0,41968.0,2006.0,6,1187.0,2017,15
33096,99820,540.0,42.7,36000.0,34954.0,113.0,20,733.0,2017,24
33097,99824,2255.0,35.5,75577.0,41057.0,333.0,14,1141.0,2017,18
33099,99826,386.0,53.3,61875.0,39582.0,14.0,3,779.0,2017,15
33100,99827,2599.0,45.5,70091.0,35619.0,214.0,8,1012.0,2017,17
33101,99829,828.0,46.1,60625.0,28857.0,98.0,11,1005.0,2017,19
33102,99830,635.0,37.2,51250.0,18955.0,97.0,15,938.0,2017,21
33104,99833,3275.0,41.7,63490.0,35044.0,256.0,7,885.0,2017,16
33105,99835,8810.0,38.9,70765.0,36617.0,800.0,9,1104.0,2017,18
33107,99840,1038.0,42.9,70673.0,39376.0,58.0,5,1069.0,2017,18
33109,99901,13768.0,39.5,67321.0,33755.0,1450.0,10,1139.0,2017,20
33112,99919,660.0,47.8,50956.0,31413.0,56.0,8,843.0,2017,19
33113,99921,1971.0,41.1,58047.0,33002.0,286.0,14,1015.0,2017,20
33114,99922,306.0,45.0,31250.0,16408.0,92.0,30,350.0,2017,13
33116,99925,901.0,45.1,48646.0,24783.0,210.0,23,620.0,2017,15
33117,99926,1684.0,32.8,57969.0,22927.0,224.0,13,656.0,2017,13
33119,99929,2455.0,49.0,55742.0,29861.0,276.0,11,793.0,2017,17

In [32]:
result.to_csv("census_data_total.csv", encoding="utf-8", index=False)

In [ ]:
# Do web sraping and confirm if the rent affordability we got is somewhat in line with the info we get from web scraping 
# http://mentalfloss.com/article/85668/11-most-affordable-cities-us

# import requests
# from bs4 import BeautifulSoup
# from splinter import Browser

In [ ]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# url = 'http://mentalfloss.com/article/85668/11-most-affordable-cities-us'

In [ ]:
# browser.visit(url)

In [ ]:
# html = browser.html

In [ ]:
# affordable_cities_soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# browser.is_element_present_by_css("article-body", wait_time=1)